<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fleatransaction.mapper.DemandLabelMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="appResultMap" type="cn.fleatransaction.entity.DemandLabel">
        <result column="child_label_id" property="childLabelId"/>
        <result column="label_id" property="labelId"/>
        <result column="child_label_name" property="childLabelName"/>
    </resultMap>
</mapper>
