<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fleatransaction.mapper.ProductMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="appResultMap" type="cn.fleatransaction.entity.Product">
        <result column="product_id" property="productId"/>
        <result column="user_id" property="userId"/>
        <result column="product_name" property="productName"/>
        <result column="product_price" property="productPrice"/>
        <result column="product_description" property="productDescription"/>
        <result column="product_phone" property="productPhone"/>
        <result column="product_qq" property="productQq"/>
        <result column="product_we_chat" property="productWeChat"/>
        <result column="product_time" property="productTime"/>
    </resultMap>
</mapper>

