<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fleatransaction.mapper.ProductPicMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="appResultMap" type="cn.fleatransaction.entity.ProductPic">
        <result column="product_id" property="productId"/>
        <result column="product_picture" property="productPicture"/>
        <result column="picture_id" property="pictureId"/>
    </resultMap>
</mapper>
